* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blackLine {
    width: 100%;
    height: 15px;
    background-color: black;
}
.header {
    padding: 30px 60px;
}

.bar {
    margin-top: 20px;
}
.container-fluid {
    background-color: rgb(37, 34, 34);
}
.nav-item a{
    background-color: rgb(37, 34, 34);
    color: white !important;
    border-right: 1px solid gray;
}
.nav-item :hover {
    background-color: rgb(247, 4, 4) !important;
}
.navbar img {
    height: 32px;
    width: 32px;
    margin: 1px 6px;
    cursor: pointer;
}
.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.brand button {
    background-color: black;
    color: white;
}

.icon i {
    color: white;
    padding: 0px 8px;
    border-right: 1px solid black;
    cursor: pointer;
}

.fiction img {
    width: 100%;
    margin-top: 10px;
}

.fiction {
    margin-bottom: 30px;
}

.fiction i {
    margin-right: 5px;
}

.box div {
    float: left;
    margin-top: 15px;
    margin-right: 21px;
    color: rgb(92, 90, 90);
}

.fiction button {
    margin: 10px 0px;
    outline: none;
    background-color: white;
    border: 3px solid red;
    padding: 10px 25px;
    border-radius: 10px;
}
.fiction button:hover {
    background-color: red;
    color: white;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.info div {
    width: 23%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin: 1px;
}

.twitter, .t {
    background-color: rgb(4 191 247);
}
.fb, .f {
    background-color: #0606c5;;
}
.mail, .m {
    background-color: #06d5a5;;
}
.xbox, .x {
    background-color: #f50780;
}

.info p {
    font-size: x-large;
}

.tags {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.tags div {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 3px;
}
.tags div:hover {
    background-color: red;
}
.items h3 {
    margin-left: 15px;
    margin-top: 80px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100px;
}

@media only screen and (max-width:600px) {
    .header {
        padding: 30px 10px;
    }
    .icon i {
        margin: 8px 0px;
    }
    .info p {
        font-size: medium;
    }
    .info div {
        margin: 1px;
        width: 24%;
    }
    .box {
        margin-bottom: 38px;
    }
    .items h3 {
        margin-left: 5px;
        margin-top: 20px;
    }
}